.bIcon{
    width: 250px;
    height:50px;
}
.container{
    width: 500px;
   
}
.breadcrumb-container{
    margin-left:120px ;
}
.hyphen{
    font-size:px;
    font-weight:bold;
     
}
.img-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.img-container img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.photo_list {
    gap: 5px; /* 이미지 간격을 5px로 설정 */
}
.center-div{
            
    left:50%;
    transform: translate(30%);
}